<form method="post">
    {% csrf_token %}

        <input name="username" value="{{form.username.value|default:''}}" type="text" id="inputEmail" class="" placeholder="Utilizador" required autofocus>
        <label for="inputEmail">Utilizador</label>


        <input name="password" type="password" id="inputPassword" class="" placeholder="Senha" required>
        <label for="inputPassword">Senha</label>

    <span class="text-center">
        {% if form.errors %}
            Dados Inválidos!
        {% endif %}
    </span>
    <input type="submit" class=""/>
    <a href="{% url 'register' %}" class="">Registar</a>
    <div class="text-center">
        <a class="small" href="{% url 'password_reset' %}">Esqueceu a sua senha?</a>
    </div>
</form>