
<form class="" method="POST">
    {% csrf_token %}

    <input required autofocus class="form-control" type="text" name="username" value="{{form.username.value|default:''}}" aria-describedby="username" placeholder="Utilizador">

    <input required class="form-control" type="password" name="password1" placeholder="Palavra-Passe">

    <input required class="form-control" type="password" name="password2" placeholder="Confirmar palavra-passe">

    <button type="submit" class="btn btn-primary">Registar</button>
</form>

{% if form.errors %}
    <div role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="">Erro!</strong>
            <small class="" id="toast_timer">agora</small>
        </div>
        <div class="toast-body">
            {% for error in form.errors %}
                {% if error == 'username' %}
                    <a>O utilizador já existe!</a><br>
                {% elif error == 'password2' %}
                    <a>As palavra-passes introduzidas não são válidas!</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
<p class="">Tem conta? Clique <a href="{% url 'login' %}">aqui</a> para iniciar sessão!</p>
