{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Metadata -->
	<title>{{pagetitle}}</title>

	<!-- Import CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/css/materialze.min.css' %}">
</head>
<body>

  {% block content %}{% endblock %}

</body>
	<!-- Compiled and minified JavaScript -->
  <script src="{% static '/js/materialze.min.js' %}"></script>
</html>